fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.18
pillow==11.1.0
numpy==2.2.0
opencv-python-headless==4.11.0.86
transformers==4.48.0
torch==2.5.1
requests==2.32.3
exifread==3.0.0
payos
python-dotenv==1.0.1
firebase-admin==6.6.0
slowapi==0.1.9
python-magic==0.4.27
